.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.eventCard {
  padding: 25px 0px;
}
.everyCard {
  padding: 100px 0px 0px;
}
.eventsFilter {
  padding: 25px;
  margin-top: 10px;
  background-image: url("https://cdn0.iconfinder.com/data/icons/basic-ui-line-7/32/line_basic_uiFilter-512.png");
  background-position: center;
  background-size: contain;
  background-color: white;
}
.filter {
  background-color: white;
  margin: 25px;
  cursor: pointer;
  width: 80px;
}
.filter:hover {
  color: var(--yellow);
}
.eventTitle {
  font-size: 20px;
  margin: 15px;
  white-space: nowrap;
}

.eventDesc {
  font-size: 17px;
  margin: 5px;
}

.outOrIn {
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

.eventImg {
  height: 180px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px gray;
}

.break {
  width: 90%;
  margin: auto;
}

.eventLink {
  font-size: 10px;
  text-decoration: none;
  color: rgb(34, 0, 255);
}

.rightBtn {
  background: radial-gradient(rgba(199, 243, 253, 0.95), rgba(90, 204, 233, 0.95));  float: right;
  width: 50px;
  height: 50px;
  margin: 20px 20% 25px 0px;
}
.leftBtn {
  background: radial-gradient(rgba(199, 243, 253, 0.95), rgba(90, 204, 233, 0.95));  float: right;
  float: left;
  margin: 20px 0px 25px 20%;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 750px) {
  .eventCard {
    padding-top: 10px;
  }
  .everyCard {
    padding-top: 15px;
  }
  .grid-container {
    display: block;
  }
}
