.eventCard {
  margin: 10px;
  padding: 10px;
}
.eventTitle {
  font-size: 35px;
  margin: 20px;
}
.eventDesc {
  font-size: 25px;
  margin: 5px;
}
.outOrIn {
  margin-left: 25px;
  text-align: left;
  font-size: 20px;
}
.bold {
  font-weight: bold;
}
.eventImg {
  width: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px gray;
}
.break {
  width: 90%;
  margin: auto;
}
.eventLink {
  font-size: 12px;
  text-decoration: none;
  color: rgb(34, 0, 255);
}
@media only screen and (min-width:750px) {
  
}