@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&family=Montserrat:wght@400;700&display=swap");

.LogIn {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  filter: drop-shadow(0 0 6px rgba(250, 0, 0, 0.5));
}

.login-formInput,
.logout-button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.loginForm {
  padding-top: 200px;
  padding-bottom: 150px;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

@media screen and (max-width: 750px){
    .loginForm {
        padding-top: 100px; 
    }
}

.login-form-group {
  padding: 15px;
}

.loginForm .login-form-inner .login-formH2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.loginForm .login-form-inner .login-form-group {
  display: block;
  width: 400px;
  margin-bottom: 15px;
  margin: auto;
}

.login-form-inner .login-form-group .login-formLabel {
  display: block;
  color: #666;
  font-size: 15px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.login-form-inner .login-form-group:focus-within .login-formLabel {
  color: #219ebc;
  filter: drop-shadow(0 0 5px rgba(2, 48, 71, 0.7));
}

.loginForm .login-form-inner .login-form-group .login-formInput {
  display: block;
  width: 400px;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.4s;
}
.loginForm .login-form-inner .login-form-group .login-formInput:focus {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.loginForm .login-form-inner .login-formSubmit,
.login-welcome .logout-button {
  border: none;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to bottom,
    #219ebc,
    #219ebc,
    #219ebc,
    #023047
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.loginForm .login-form-inner .login-formSubmit:hover,
.login-welcome .logout-button:hover {
  background-position: 100% 0%;
}

.login-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  padding-top: 150px;
  padding-bottom: 100px;
  margin: auto;
}

.login-welcome .logout-button {
  margin-top: 15px;
  margin-left: -15px;
}

.login-welcome .logout-button-none {
  background-color: #fff;
}

.login-welcome .login-formH2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}
.login-welcome .login-formH2 .login-span-name{
  color: rgb(2, 48, 71);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}