.footer {
  background: var(--dark-blue);
  background: linear-gradient(
    180deg,
    rgba(90, 204, 233, 0.95) 10%,
    rgba(199, 243, 253, 0.95) 85%
  );

  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  justify-self: center;
  width: 100%;
  padding-left: 140px;
}

.social-media {
  width: 7rem;
  height: auto;
  padding: 1rem 2rem 0;
  color: var(--white);
  filter: drop-shadow(0 0 4px rgba(12, 98, 141, 0.95))
}

#copyrights {
  color: var(--white);
  font-weight: 600;
  padding-top: 0.6rem;
  filter: drop-shadow(0 0 4px rgba(12, 98, 141, 0.95))
}

.website-map {
  display: flex;
  flex-direction: column;
  justify-self: right;
  padding-right: 2rem;
  list-style: none;
}

.listItem {
  padding-bottom: 0.6rem;
}

.listItem a {
  text-decoration: none;
  color: var(--white);
  text-shadow: 2px 2px 4px rgba(12, 98, 141, 0.95);
  font-weight: 600;
  font-size: 1.2rem;
}

@media only screen and (max-width: 750px) {
  .links {
    padding-left: 0;
  }

  .social-media {
    width: 4rem;
    padding: 1rem 1rem 0;
    color: var(--white);
    text-shadow: 2px 2px 4px #000000;
  }

  .listItem a {
    font-size: 1rem;
  }
}
