@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap");

.weather-title {
  font-size: 2rem;
  color: var(--dark-blue);
  padding-bottom: 25px;
  text-shadow: 3px 2px 25px rgba(37, 104, 158, 0.84);
}

.search-container {
  display: flex;
  padding-left: 18vw;
}

.search-bar {
  background: url("../../../assets/lupa.png") no-repeat left center;
  background-size: 2.7rem;
  box-shadow: rgba(226, 226, 234, 0.25) 0px 30px 60px -12px inset,
    rgba(222, 213, 213, 0.3) 0px 18px 36px -18px inset;
  border: none;
  padding: 0.6rem 0.6rem 0.6rem 3rem;
  width: 200px;
  border-radius: 10px;
}

.search-bar:focus {
  outline: none;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.city {
  text-align: left;
  padding: 0.4rem 0 0.8rem 18vw;
  font-size: 2rem;
  color: var(--dark-blue);
  text-shadow: 0px 0px 30px rgba(11, 81, 80, 0.7);
}

.weather-today-wrapper {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.Day {
  color: orange;
}
.today-link {
  text-decoration: none;
}

.weather-today {
  font-family: "Nunito", sans-serif;
  margin: 0 18vw;
  padding: 2rem 0;
  box-shadow: 1px 1px 10px 1px rgba(150, 150, 150, 0.4);
  border-radius: 10px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.today-date {
  padding-top: 5px;
  font-size: 1.6rem;
}

.image-temp {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 400px;
}

.weather-icon {
  padding-top: 10px;
  width: 60%;
  height: auto;
}

.flex-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  min-height: 100%;
}

.weather5Days_cardCol_2 pre h2.today-temp {
  font-weight: 900;
  font-size: 2rem;
}

.weather5Days_cardCol_3 h4.rain-prob {
  padding-top: 25px;
  font-size: 1.2rem;
}

.rain-prob-number {
  font-size: 2rem;
}

h5.wind-info {
  padding-top: 25px;
  font-size: 1.2rem;
}

.wind-direction {
  width: 70px;
  height: auto;
}

@media screen and (max-width: 830px) {
  .weather-title {
    font-size: 1.6rem;
  }

  .search-container {
    padding-left: 1.5rem;
  }

  .city {
    padding-left: 1.5rem;
    font-size: 1.4rem;
  }

  .weather-today {
    margin: 5px 1.5rem;
    padding: 1rem 0.5rem 0;
  }

  .today-date {
    font-size: 1.2rem;
  }

  .weather-icon {
    width: 75%;
  }

  .weather5Days_cardCol_2 pre h2.today-temp {
    font-size: 1.2rem;
  }

  .weather5Days_cardCol_3 h4.rain-prob {
    font-size: 0.8rem;
  }

  .rain-prob-number {
    font-size: 1.2rem;
  }

  h5.wind-info {
    font-size: 0.8rem;
  }

  .wind-direction {
    width: 45px;
  }
}
