:root {
  --white: #fefdf8;
  --dark-blue: rgb(12, 98, 141);
  --clear-blue: rgb(122, 211, 233);
  --yellow: #ffb703;
  --orange: #fb8500;
}

@keyframes slideIn {
  0% {
    transform: translate(0px, -60px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes slideInTwo {
  0% {
    transform: translate(30px, 0px);
  }
  100% {
    transform: translate(30px, 100px);
  }
}

.MainNavbar,
.SignLogInBar {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  right: 0;
  width: 30%;
  margin-top: 0;
  animation-name: slideIn;
  animation-duration: 0.6s;
  z-index: 0;
}

.MainNavbar {
  background: linear-gradient(
    180deg,
    rgba(90, 204, 233, 0.95) 10%,
    rgba(199, 243, 253, 0.95) 85%
  );
}

.SignLogInBar {
  z-index: 0;
  right: 70px;
  background: var(--dark-blue);
  border-radius: 0 0 10px 10px;
  background: linear-gradient(
    180deg,
    rgba(90, 204, 233, 0.95) 10%,
    rgba(199, 243, 253, 0.95) 85%
  );
}

.MainNavbar + div ul.SignLogInBar {
  display: none;
}

.NavItem {
  padding: 10px 0 10px 2vw;
  font-weight: 700;
  /* text-shadow: 2px 2px 4px #3b3939; */
  filter: drop-shadow(0 0 4px rgba(12, 98, 141, 0.95));
}

.NavItem a {
  text-decoration: none;
  color: var(--white);
  text-shadow: 2px 2px 4px rgba(14, 58, 124, 0.5);
}

.ComputerNavigation {
  display: none;
}

.MobileNavigation {
  width: 100vw;
  height: 100px;
  background: linear-gradient(
    0deg,
    var(--clear-blue) 15%,
    rgb(212, 240, 253) 55%
  );
  z-index: 1;
  filter: drop-shadow(0 2px 10px rgba(12, 98, 141, 0.5));
}

.UserIconComputer {
  display: none;
}

.UserIconMobile {
  position: absolute;
  right: 65px;
  top: 30px;
  width: 12vw;
  height: 6.5vh;
  color: var(--white);
  filter: drop-shadow(0 0 4px rgba(12, 98, 141, 0.95));
}

.Hamburger,
.Close {
  position: absolute;
  right: 0;
  top: 28px;
  width: 12vw;
  height: 7vh;
  color: var(--white);
  filter: drop-shadow(0 0 4px rgb(14, 78, 110));
}

.LogoContainer {
  display: none;
}

.MobileLogoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 100%;
}

.MobileLogo {
  height: 50px;
  width: auto;
  padding-left: 20px;
  filter: drop-shadow(0 0 2px white);
}

@media only screen and (min-width: 750px) {
  .MainNavbar {
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100px;
    transform: none !important;
    background: linear-gradient(
      0deg,
      var(--clear-blue) 15%,
      rgb(212, 240, 253) 55%
    );
    z-index: 1;
    box-shadow: 0 2px 10px rgba(12, 98, 141, 0.5);
  }

  .SignLogInBar {
    width: 200px;
    z-index: 0;
    animation-name: none;
    animation-name: slideInTwo;
    animation-duration: 0.6s;
    transform: translate(30px, 100px);
    filter: drop-shadow(0 0 10px rgba(12, 98, 141, 0.5));
  }

  .MainNavbar + div ul.SignLogInBar {
    display: initial;
  }

  .ComputerNavigation {
    display: initial;
  }

  .MobileNavigation {
    display: none;
  }

  .NavItem {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(14, 58, 124, 0.5);
  }

  .NavItem a {
    transition: 0.6s;
  }

  .NavItem a:hover {
    color: var(--yellow);
  }

  .UserIconComputer {
    width: 12vw;
    height: 8vh;
    padding-left: 2rem;
    color: var(--white);
    display: initial;
    filter: drop-shadow(0 0 5px rgb(12, 98, 141));
  }

  .LogoContainer {
    width: 80%;
    display: flex;
    justify-content: flex-start;
  }

  .MobileLogoContainer {
    display: none;
  }

  .Logo {
    height: 50px;
    width: auto;
    padding-left: 20px;
    filter: drop-shadow(0 0 2px white);
  }
}

@media only screen and (max-width: 500px) {
  .SignLogInBar {
    right: 70px;
  }
}
